Columns and meanings:

timestamp: date and time (YYYY-MM-DD HH:MM:SS), every 10 seconds.

campaign: Campaign number groups several batches (e.g., 5–15) into one manufacturing cycle; the batches belonging to the same campaign were manufactured one after the other.

batch: Batch number identifies the batch of the final product.

code: Product code number defines the product sub-family to which the batch belongs. Every time series dataset file has the same product code and contains all batches within the same product code.

tbl_speed: Tablet press speed, it indicates when the process is running and when it has stopped, if there were many changes to this parameter or many stoppages, the material handling is challenging, which may indicate suboptimal product quality.

fom: Filling device speed in rotations per minute: similar to tablet press speed. If the process is running, so is the filling device. This parameter generally does not change and is only set during the start-up. If many changes (during the start-up) are observed, this again indicates potential difficulties with incoming material handling.

main_comp: Main compression force – mean value: the more constant this parameter is, the more homogeneous is the incoming material blend in terms of physical properties.

tbl_fill: Tablet fill depth: defines the volume of filled blended material to be compressed. If flow properties of material are poor, this parameter will vary throughout the batch and will consequently impact tablet hardness and weight.

SREL: Main compression force – standard relative deviation: this parameter is calculated by the tablet press itself by using main compression force mean values. It gives an indication of how uniform the tablets compacted are.

pre_comp: Pre-compression force – mean value: if pre-compression force is used for tablet compaction, this parameter will be greater than 1 and will give a similar indication as main compression force. It is not readily used for the product in the scope.

produced: Good production: all acceptable tablets that have been produced at that particular timestamp. ESTA ME PREOCUPA

waste: Bad production: tablets that do not pass the set tablet press parameters (i.e., max % deviation from the set main compression force – mean value). This is also a cumulative parameter and gives information about all rejected tablets at that particular time. ESTA ME PREOCUPA

cyl_main:Cylindrical height – main compression: cylindrical height of the tablet (main compression station) in mm. The height and hardness of the tablet are changed by changing the cylindrical height.

cyl_pre: Cylindrical height – pre-compression: cylindrical height of the tablet (pre-compression station) in mm.

stiffness: Bottom punch stiffness in Newton: when the limit is reached, the press is stopped with suitable diagnosis. An equipment parameter.

ejection: Maximum tablet ejection force: if this parameter rises, the tablet ejection friction is higher, which could mean that some minor sticking of the tablet has occurred on the tablet tooling.

start_time: time at which each batch has started production (this value is repeated across the batch)

timeSince: Time since the batch has started, this is the substraction between start_time and timestamp. The result is in days, hours, minutes ad seconds.

timeSinceSec: Same value as timeSince but the value has been converted to seconds.

impurities_total: This is the target. percentage of impurities, this lab result is taken at the end of the process. The value is between 0 and 1.

In [253]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import glob
import time
from datetime import datetime

In [254]:
# Combine all the csv files into one big dataframe.

path = "Process Time Series/"
allfiles = glob.glob(path + "*.csv")

li = []

for filename in allfiles:
    df = pd.read_csv(filename, index_col=None, header=0, sep=';')
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [255]:
frame

,timestamp,campaign,batch,code,tbl_speed,fom,main_comp,tbl_fill,SREL,pre_comp,produced,waste,cyl_main,cyl_pre,stiffness,ejection
0,2019-09-06 04:08:23,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0
1,2019-09-06 04:08:33,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0
2,2019-09-06 04:08:43,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0
3,2019-09-06 04:08:53,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0
4,2019-09-06 04:09:03,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4720203,2019-09-03 15:13:29,81,367,8,0.0,0.0,11.7,6.80,6.3,0.0,1078.0,19982.0,1.44,5.0,233.0,236.0
4720204,2019-09-03 15:13:39,81,367,8,0.0,0.0,11.7,6.80,6.3,0.0,1078.0,19982.0,1.44,5.0,233.0,236.0
4720205,2019-09-03 15:13:49,81,367,8,0.0,0.0,11.7,6.80,6.3,0.0,1078.0,19982.0,1.44,5.0,233.0,236.0
4720206,2019-09-03 15:13:59,81,367,8,0.0,0.0,11.7,6.80,6.3,0.0,1078.0,19982.0,1.44,5.0,233.0,236.0
4720207,2019-09-03 15:14:09,81,367,8,0.0,0.0,11.7,6.80,0.0,0.0,0.0,0.0,1.44,5.0,233.0,236.0

In [256]:
#We have two diferent date formats in timestamp so I am converting them to datetime format.

frame['timestamp'] = pd.to_datetime(frame['timestamp'], 
                                    format='%Y%m%d %H:%M:%S', 
                                    errors="coerce").fillna(pd.to_datetime(frame['timestamp'], 
                                                                           format='%d%m%Y %H:%M', 
                                                                           errors="coerce"))

In [257]:
# Searching for empty values in timestamp

frame['timestamp'].isna().sum()

0

In [258]:
frame.shape

(4720208, 16)

In [259]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4720208 entries, 0 to 4720207
Data columns (total 16 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  datetime64[ns]
 1   campaign   int64
 2   batch      int64
 3   code       int64
 4   tbl_speed  float64
 5   fom        float64
 6   main_comp  float64
 7   tbl_fill   float64
 8   SREL       float64
 9   pre_comp   float64
 10  produced   float64
 11  waste      float64
 12  cyl_main   float64
 13  cyl_pre    float64
 14  stiffness  float64
 15  ejection   float64
dtypes: datetime64[ns](1), float64(12), int64(3)
memory usage: 576.2 MB

In [260]:
# Searching for missing values

columnsMissingValues = frame.columns[frame.isna().any().tolist()]
frame[columnsMissingValues].isna().sum()

tbl_speed     2206
fom          17291
main_comp     2205
tbl_fill      2191
SREL          2244
pre_comp      2207
produced      2494
waste         2197
cyl_main      2301
cyl_pre       2494
stiffness     2207
ejection      2254
dtype: int64

In [261]:
# We have 4.7 million rows, we should probably drop the missing values

frame = frame.dropna()
frame.shape

(4702581, 16)

In [262]:
# We dropped around 20,000 rows

In [263]:
# I have to add the target to each one of the batches

laboratory = pd.read_csv("Laboratory.csv", sep=";")

In [264]:
labResults = laboratory[['batch', 'impurities_total']]

In [265]:
labResults.head()

   batch  impurities_total
0      1              0.33
1      2              0.34
2      3              0.28
3      4              0.30
4      5              0.31

In [266]:
#I merge my process data to the target (impurities_total)

df = pd.merge(frame, labResults, on="batch")

In [267]:
df.head()

,timestamp,campaign,batch,code,tbl_speed,fom,main_comp,tbl_fill,SREL,pre_comp,produced,waste,cyl_main,cyl_pre,stiffness,ejection,impurities_total
0,2019-09-06 04:08:23,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0.11
1,2019-09-06 04:08:33,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0.11
2,2019-09-06 04:08:43,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0.11
3,2019-09-06 04:08:53,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0.11
4,2019-09-06 04:09:03,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0.11

In [268]:
df[df['batch']==1004]['timestamp'].min()

Timestamp('2021-07-05 03:45:00')

In [269]:
#I get an array of all the batches, then I use the length of the array to iterate through them

batches = df['batch'].unique()
batches

array([368, 369,  82, ..., 353, 123, 367])

In [270]:
#I get a list of each batch and a list of the start time of each batch

batcheslist = []
timeslist = []
for i in range(len(batches)):
    batcheslist.append(i+1)
    timeslist.append(df[df['batch']==i+1]['timestamp'].min())

In [271]:
timeslist

[Timestamp('2018-11-13 06:16:33'),
 Timestamp('2018-11-13 09:43:07'),
 Timestamp('2018-11-13 13:05:30'),
 Timestamp('2018-11-13 16:06:07'),
 Timestamp('2018-11-13 19:02:59'),
 Timestamp('2018-11-13 22:13:16'),
 Timestamp('2018-11-14 01:12:17'),
 Timestamp('2018-11-14 04:15:38'),
 Timestamp('2018-11-14 07:32:19'),
 Timestamp('2018-11-14 10:53:28'),
 Timestamp('2018-11-14 14:14:39'),
 Timestamp('2018-11-14 17:27:08'),
 Timestamp('2018-11-14 20:31:13'),
 Timestamp('2018-11-14 23:51:01'),
 Timestamp('2018-11-15 03:11:40'),
 Timestamp('2018-11-18 22:34:33'),
 Timestamp('2018-11-19 17:10:55'),
 Timestamp('2018-11-20 11:40:26'),
 Timestamp('2018-11-18 22:28:52'),
 Timestamp('2018-11-19 07:32:41'),
 Timestamp('2018-11-19 16:58:07'),
 Timestamp('2018-11-22 23:59:14'),
 Timestamp('2018-11-23 07:13:56'),
 Timestamp('2018-11-23 14:14:27'),
 Timestamp('2018-11-25 22:40:54'),
 Timestamp('2018-11-22 23:07:27'),
 Timestamp('2018-11-23 02:37:59'),
 Timestamp('2018-11-23 08:51:53'),
 Timestamp('2018-11-26 02:11:51'),
 Timestamp('2018-11-23 12:04:20'),
 Timestamp('2018-11-26 05:26:35'),
 Timestamp('2018-11-23 15:29:14'),
 Timestamp('2018-11-25 22:14:04'),
 Timestamp('2018-11-26 08:20:01'),
 Timestamp('2018-11-26 11:13:51'),
 Timestamp('2018-11-26 14:14:32'),
 Timestamp('2018-11-26 17:04:33'),
 Timestamp('2018-11-19 19:30:00'),
 Timestamp('2018-11-22 00:18:00'),
 Timestamp('2018-11-26 19:58:04'),
 Timestamp('2018-11-26 22:50:22'),
 Timestamp('2018-11-27 01:55:04'),
 Timestamp('2018-11-27 05:32:01'),
 Timestamp('2018-11-27 08:49:01'),
 Timestamp('2018-11-27 11:49:04'),
 Timestamp('2018-11-27 15:13:39'),
 Timestamp('2018-11-27 18:34:01'),
 Timestamp('2018-11-27 21:26:49'),
 Timestamp('2018-11-28 00:38:46'),
 Timestamp('2018-11-28 04:23:24'),
 Timestamp('2018-11-28 07:25:29'),
 Timestamp('2018-11-28 10:35:56'),
 Timestamp('2018-11-28 13:33:48'),
 Timestamp('2018-11-28 16:44:55'),
 Timestamp('2018-11-28 19:52:00'),
 Timestamp('2018-11-28 23:25:31'),
 Timestamp('2018-11-29 06:24:38'),
 Timestamp('2018-11-29 23:35:55'),
 Timestamp('2018-12-02 22:20:05'),
 Timestamp('2018-12-04 22:30:11'),
 Timestamp('2018-12-03 22:16:57'),
 Timestamp('2018-12-06 13:14:11'),
 Timestamp('2018-12-07 09:20:35'),
 Timestamp('2018-05-12 00:22:52'),
 Timestamp('2018-05-12 09:57:16'),
 Timestamp('2018-12-05 19:00:38'),
 Timestamp('2018-06-12 04:12:33'),
 Timestamp('2018-06-12 13:02:55'),
 Timestamp('2018-12-06 22:13:57'),
 Timestamp('2018-12-10 15:10:54'),
 Timestamp('2018-12-11 09:21:27'),
 Timestamp('2018-12-12 03:16:31'),
 Timestamp('2018-05-12 09:28:00'),
 Timestamp('2018-12-05 18:12:00'),
 Timestamp('2018-06-12 02:59:00'),
 Timestamp('2018-06-12 11:53:00'),
 Timestamp('2019-01-16 22:31:07'),
 Timestamp('2019-01-17 11:20:41'),
 Timestamp('2019-01-18 00:02:17'),
 Timestamp('2019-01-17 04:09:38'),
 Timestamp('2019-01-20 23:46:30'),
 Timestamp('2019-01-18 07:02:27'),
 Timestamp('2019-01-25 06:20:39'),
 Timestamp('2019-01-25 12:13:50'),
 Timestamp('2019-01-25 17:56:01'),
 Timestamp('2019-01-28 01:09:14'),
 Timestamp('2019-01-28 06:44:30'),
 Timestamp('2019-02-20 19:34:32'),
 Timestamp('2019-02-20 22:27:26'),
 Timestamp('2019-02-25 02:09:27'),
 Timestamp('2019-02-27 17:12:05'),
 Timestamp('2019-02-23 07:09:00'),
 Timestamp('2019-02-25 04:52:00'),
 Timestamp('2019-05-03 02:22:32'),
 Timestamp('2019-02-21 08:01:11'),
 Timestamp('2019-02-21 11:11:18'),
 Timestamp('2019-02-21 14:38:14'),
 Timestamp('2019-02-21 18:00:16'),
 Timestamp('2019-02-21 21:38:40'),
 Timestamp('2019-02-22 01:08:39'),
 Timestamp('2019-02-22 04:18:43'),
 Timestamp('2019-02-22 07:43:57'),
 Timestamp('2019-02-22 11:29:15'),
 Timestamp('2019-02-22 14:44:08'),
 Timestamp('2019-02-22 17:57:35'),
 Timestamp('2019-02-25 18:18:41'),
 Timestamp('2019-02-26 09:26:48'),
 Timestamp('2019-03-15 18:33:54'),
 Timestamp('2019-03-18 01:19:07'),
 Timestamp('2019-03-18 04:29:56'),
 Timestamp('2019-03-18 07:32:32'),
 Timestamp('2019-03-18 10:27:07'),
 Timestamp('2019-03-18 13:23:42'),
 Timestamp('2019-03-18 16:34:27'),
 Timestamp('2019-03-18 19:43:03'),
 Timestamp('2019-03-18 22:48:41'),
 Timestamp('2019-03-20 14:56:17'),
 Timestamp('2019-03-22 01:48:16'),
 Timestamp('2019-03-22 13:12:22'),
 Timestamp('2019-03-25 06:31:41'),
 Timestamp('2019-03-25 18:00:33'),
 Timestamp('2019-03-26 04:39:57'),
 Timestamp('2019-03-22 10:42:27'),
 Timestamp('2019-03-25 18:11:48'),
 Timestamp('2019-03-25 21:55:19'),
 Timestamp('2019-03-26 00:59:12'),
 Timestamp('2019-03-26 03:58:48'),
 Timestamp('2019-03-26 07:25:24'),
 Timestamp('2019-03-26 11:03:29'),
 Timestamp('2019-03-26 14:15:14'),
 Timestamp('2019-03-26 17:23:52'),
 Timestamp('2019-03-26 20:29:29'),
 Timestamp('2019-03-26 23:34:04'),
 Timestamp('2019-03-27 18:25:08'),
 Timestamp('2019-03-27 22:09:40'),
 Timestamp('2019-03-28 01:14:48'),
 Timestamp('2019-03-28 04:06:18'),
 Timestamp('2019-03-28 07:09:39'),
 Timestamp('2019-03-28 10:14:50'),
 Timestamp('2019-03-28 13:13:00'),
 Timestamp('2019-03-28 16:19:02'),
 Timestamp('2019-03-31 23:36:38'),
 Timestamp('2019-04-01 14:20:22'),
 Timestamp('2019-02-04 03:54:16'),
 Timestamp('2019-01-04 05:21:34'),
 Timestamp('2019-01-04 14:31:37'),
 Timestamp('2019-04-01 21:25:39'),
 Timestamp('2019-02-04 04:43:56'),
 Timestamp('2019-04-04 22:43:39'),
 Timestamp('2019-05-04 10:20:27'),
 Timestamp('2019-04-07 22:23:36'),
 Timestamp('2019-08-04 08:41:01'),
 Timestamp('2019-05-04 06:23:09'),
 Timestamp('2019-04-11 14:03:28'),
 Timestamp('2019-04-12 11:17:55'),
 Timestamp('2019-04-14 23:11:29'),
 Timestamp('2019-04-15 17:16:30'),
 Timestamp('2019-12-04 10:01:00'),
 Timestamp('2019-04-12 19:36:00'),
 Timestamp('2019-04-14 22:36:00'),
 Timestamp('2019-04-15 07:57:00'),
 Timestamp('2019-04-16 12:59:17'),
 Timestamp('2019-04-17 07:04:22'),
 Timestamp('2019-04-15 18:13:00'),
 Timestamp('2019-04-16 05:02:05'),
 Timestamp('2019-04-16 14:09:22'),
 Timestamp('2019-04-16 22:46:07'),
 Timestamp('2019-04-17 07:44:53'),
 Timestamp('2019-04-17 16:51:38'),
 Timestamp('2019-04-18 01:40:27'),
 Timestamp('2019-04-18 11:27:23'),
 Timestamp('2019-04-18 01:00:51'),
 Timestamp('2019-04-18 18:42:01'),
 Timestamp('2019-04-19 11:16:45'),
 Timestamp('2019-04-19 00:25:41'),
 Timestamp('2019-04-19 07:13:07'),
 Timestamp('2019-04-19 14:18:30'),
 Timestamp('2019-04-19 21:32:23'),
 Timestamp('2019-04-22 23:05:14'),
 Timestamp('2019-04-24 06:31:42'),
 Timestamp('2019-04-25 00:48:43'),
 Timestamp('2019-04-25 17:54:49'),
 Timestamp('2019-04-26 11:07:48'),
 Timestamp('2019-06-05 07:22:13'),
 Timestamp('2019-06-05 14:50:43'),
 Timestamp('2019-05-06 21:54:58'),
 Timestamp('2019-05-07 19:31:53'),
 Timestamp('2019-05-07 20:14:00'),
 Timestamp('2019-05-08 13:15:00'),
 Timestamp('2019-09-05 06:54:00'),
 Timestamp('2019-05-07 14:09:00'),
 Timestamp('2019-08-05 01:13:00'),
 Timestamp('2019-08-05 11:40:00'),
 Timestamp('2019-05-08 20:50:00'),
 Timestamp('2019-05-14 04:16:00'),
 Timestamp('2019-09-05 06:17:00'),
 Timestamp('2019-05-09 15:42:00'),
 Timestamp('2019-10-05 00:22:00'),
 Timestamp('2019-10-05 10:33:00'),
 Timestamp('2019-05-12 23:00:00'),
 Timestamp('2019-05-13 08:08:00'),
 Timestamp('2019-05-13 16:52:00'),
 Timestamp('2019-05-14 01:47:00'),
 Timestamp('2019-05-14 10:25:00'),
 Timestamp('2019-05-14 18:59:00'),
 Timestamp('2019-05-15 04:02:00'),
 Timestamp('2019-05-15 12:46:00'),
 Timestamp('2019-05-16 07:10:34'),
 Timestamp('2019-05-20 20:44:46'),
 Timestamp('2019-05-16 12:30:04'),
 Timestamp('2019-05-16 15:33:05'),
 Timestamp('2019-05-16 20:32:04'),
 Timestamp('2019-05-16 23:51:20'),
 Timestamp('2019-05-17 03:18:08'),
 Timestamp('2019-05-17 06:28:55'),
 Timestamp('2019-05-17 09:32:13'),
 Timestamp('2019-05-17 13:00:51'),
 Timestamp('2019-05-21 10:24:41'),
 Timestamp('2019-05-22 05:48:42'),
 Timestamp('2019-05-22 23:14:39'),
 Timestamp('2019-05-23 17:15:53'),
 Timestamp('2019-05-24 11:08:54'),
 Timestamp('2019-05-21 15:58:44'),
 Timestamp('2019-05-16 21:19:00'),
 Timestamp('2019-05-17 05:31:00'),
 Timestamp('2019-05-17 14:21:00'),
 Timestamp('2019-05-20 06:42:00'),
 Timestamp('2019-05-20 14:31:00'),
 Timestamp('2019-05-20 21:38:00'),
 Timestamp('2019-04-06 07:19:47'),
 Timestamp('2019-05-29 21:22:55'),
 Timestamp('2019-05-29 22:56:14'),
 Timestamp('2019-05-30 19:00:06'),
 Timestamp('2019-05-31 14:15:09'),
 Timestamp('2019-06-03 11:03:49'),
 Timestamp('2019-06-04 05:25:38'),
 Timestamp('2019-05-06 00:38:06'),
 Timestamp('2019-06-05 19:00:29'),
 Timestamp('2019-06-06 12:08:07'),
 Timestamp('2019-07-06 06:24:03'),
 Timestamp('2019-06-07 23:52:04'),
 Timestamp('2019-06-12 08:59:00'),
 Timestamp('2019-06-13 00:48:00'),
 Timestamp('2019-06-13 16:44:00'),
 Timestamp('2019-06-14 07:28:00'),
 Timestamp('2019-11-06 00:23:38'),
 Timestamp('2019-06-13 19:39:55'),
 Timestamp('2019-06-13 23:19:13'),
 Timestamp('2019-06-14 02:51:57'),
 Timestamp('2019-06-14 06:42:28'),
 Timestamp('2019-06-14 09:42:25'),
 Timestamp('2019-06-14 13:27:47'),
 Timestamp('2019-06-14 16:46:53'),
 Timestamp('2019-06-14 20:20:19'),
 Timestamp('2019-06-14 23:20:02'),
 Timestamp('2019-06-16 22:28:16'),
 Timestamp('2019-06-17 01:40:45'),
 Timestamp('2019-06-18 00:23:34'),
 Timestamp('2019-06-18 17:35:53'),
 Timestamp('2019-06-18 05:27:18'),
 Timestamp('2019-06-18 11:30:45'),
 Timestamp('2019-06-21 14:29:30'),
 Timestamp('2019-06-21 17:58:37'),
 Timestamp('2019-06-25 22:15:41'),
 Timestamp('2019-06-26 01:19:46'),
 Timestamp('2019-06-26 04:37:10'),
 Timestamp('2019-06-26 07:42:16'),
 Timestamp('2019-06-26 11:10:07'),
 Timestamp('2019-06-26 14:21:10'),
 Timestamp('2019-06-26 17:34:29'),
 Timestamp('2019-06-26 20:30:37'),
 Timestamp('2019-06-27 00:01:43'),
 Timestamp('2019-06-27 03:25:09'),
 Timestamp('2019-06-27 06:21:08'),
 Timestamp('2019-06-27 09:19:16'),
 Timestamp('2019-06-27 12:26:33'),
 Timestamp('2019-06-21 09:33:34'),
 Timestamp('2019-06-26 05:44:54'),
 Timestamp('2019-06-30 22:27:24'),
 Timestamp('2019-01-07 06:45:20'),
 Timestamp('2019-01-07 14:49:24'),
 Timestamp('2019-07-01 22:10:43'),
 Timestamp('2019-02-07 04:40:53'),
 Timestamp('2019-06-27 15:31:44'),
 Timestamp('2019-06-27 19:02:10'),
 Timestamp('2019-06-27 22:40:18'),
 Timestamp('2019-06-28 01:44:04'),
 Timestamp('2019-06-28 04:40:58'),
 Timestamp('2019-06-28 07:48:08'),
 Timestamp('2019-06-28 11:00:48'),
 Timestamp('2019-06-28 14:09:57'),
 Timestamp('2019-06-28 17:31:33'),
 Timestamp('2019-06-30 22:41:11'),
 Timestamp('2019-01-07 02:25:49'),
 Timestamp('2019-01-07 05:39:12'),
 Timestamp('2019-01-07 08:40:04'),
 Timestamp('2019-01-07 11:44:00'),
 Timestamp('2019-01-07 14:46:28'),
 Timestamp('2019-07-02 16:19:32'),
 Timestamp('2019-07-05 06:07:19'),
 Timestamp('2019-03-07 18:57:59'),
 Timestamp('2019-07-03 22:17:56'),
 Timestamp('2019-04-07 01:22:03'),
 Timestamp('2019-04-07 04:16:54'),
 Timestamp('2019-04-07 07:16:43'),
 Timestamp('2019-01-07 17:57:14'),
 Timestamp('2019-07-01 21:01:50'),
 Timestamp('2019-02-07 00:12:06'),
 Timestamp('2019-02-07 03:14:38'),
 Timestamp('2019-02-07 06:32:50'),
 Timestamp('2019-02-07 09:35:40'),
 Timestamp('2019-02-07 12:37:57'),
 Timestamp('2019-02-07 15:44:02'),
 Timestamp('2019-02-07 18:53:17'),
 Timestamp('2019-07-02 22:14:13'),
 Timestamp('2019-03-07 01:21:17'),
 Timestamp('2019-03-07 04:23:26'),
 Timestamp('2019-03-07 07:31:27'),
 Timestamp('2019-03-07 10:44:06'),
 Timestamp('2019-03-07 14:19:17'),
 Timestamp('2019-07-04 16:46:26'),
 Timestamp('2019-07-05 10:57:37'),
 Timestamp('2019-08-07 04:50:02'),
 Timestamp('2019-07-08 23:02:32'),
 Timestamp('2019-07-04 23:57:54'),
 Timestamp('2019-07-07 22:18:08'),
 Timestamp('2019-08-07 07:15:04'),
 Timestamp('2019-09-07 01:10:28'),
 Timestamp('2019-09-07 08:13:27'),
 Timestamp('2019-09-07 15:31:10'),
 Timestamp('2019-07-09 22:15:11'),
 Timestamp('2019-10-07 14:10:42'),
 Timestamp('2019-07-14 22:34:49'),
 Timestamp('2019-07-15 18:48:19'),
 Timestamp('2019-07-09 16:27:00'),
 Timestamp('2019-07-10 09:42:00'),
 Timestamp('2019-11-07 03:14:00'),
 Timestamp('2019-07-11 20:59:00'),
 Timestamp('2019-07-12 14:08:00'),
 Timestamp('2019-07-15 09:48:00'),
 Timestamp('2019-07-16 03:12:00'),
 Timestamp('2019-07-16 20:07:00'),
 Timestamp('2019-07-17 13:10:00'),
 Timestamp('2019-07-22 06:34:03'),
 Timestamp('2019-07-22 15:34:11'),
 Timestamp('2019-07-23 00:15:21'),
 Timestamp('2019-08-14 22:20:00'),
 Timestamp('2019-08-15 17:01:00'),
 Timestamp('2019-08-16 22:29:00'),
 Timestamp('2019-08-19 05:14:00'),
 Timestamp('2019-08-19 22:09:00'),
 Timestamp('2019-08-26 06:20:17'),
 Timestamp('2019-08-26 09:52:57'),
 Timestamp('2019-08-21 22:54:11'),
 Timestamp('2019-08-28 11:38:26'),
 Timestamp('2019-08-29 10:38:49'),
 Timestamp('2019-08-30 09:40:19'),
 Timestamp('2019-08-22 22:44:39'),
 Timestamp('2019-08-23 07:57:43'),
 Timestamp('2019-08-23 16:25:19'),
 Timestamp('2019-08-26 02:24:15'),
 Timestamp('2019-08-26 11:16:22'),
 Timestamp('2019-08-26 20:24:09'),
 Timestamp('2019-08-29 11:54:47'),
 Timestamp('2019-08-30 08:51:34'),
 Timestamp('2019-09-01 22:30:46'),
 Timestamp('2019-09-02 19:26:09'),
 Timestamp('2019-09-06 04:08:23'),
 Timestamp('2019-09-09 10:14:55'),
 Timestamp('2019-04-09 11:24:00'),
 Timestamp('2019-09-04 22:24:00'),
 Timestamp('2019-05-09 07:24:00'),
 Timestamp('2019-09-05 16:15:00'),
 Timestamp('2019-06-09 01:19:00'),
 Timestamp('2019-09-06 13:24:00'),
 Timestamp('2019-09-09 03:22:00'),
 Timestamp('2019-09-09 15:05:00'),
 Timestamp('2019-10-09 02:36:00'),
 Timestamp('2019-09-10 14:20:00'),
 Timestamp('2019-11-09 01:43:00'),
 Timestamp('2019-09-11 13:25:00'),
 Timestamp('2019-12-09 01:17:00'),
 Timestamp('2019-09-05 22:33:30'),
 Timestamp('2019-09-08 22:04:54'),
 Timestamp('2019-09-09 16:14:09'),
 Timestamp('2019-09-10 08:50:49'),
 Timestamp('2019-11-09 01:36:33'),
 Timestamp('2019-09-11 18:12:03'),
 Timestamp('2019-09-12 10:37:56'),
 Timestamp('2019-09-13 03:20:34'),
 Timestamp('2019-09-15 23:45:36'),
 Timestamp('2019-09-12 16:40:00'),
 Timestamp('2019-09-13 01:34:00'),
 Timestamp('2019-09-13 12:03:00'),
 Timestamp('2019-09-15 23:14:00'),
 Timestamp('2019-09-16 07:36:00'),
 Timestamp('2019-09-16 15:13:00'),
 Timestamp('2019-09-16 23:04:00'),
 Timestamp('2019-09-16 16:50:01'),
 Timestamp('2019-09-17 09:39:56'),
 Timestamp('2019-09-18 02:02:18'),
 Timestamp('2019-09-17 06:51:00'),
 Timestamp('2019-09-17 14:22:00'),
 Timestamp('2019-09-17 22:01:00'),
 Timestamp('2019-09-18 05:42:00'),
 Timestamp('2019-09-18 22:22:00'),
 Timestamp('2019-09-19 06:03:00'),
 Timestamp('2019-09-19 13:53:00'),
 Timestamp('2019-09-19 21:38:00'),
 Timestamp('2019-09-20 05:29:00'),
 Timestamp('2019-09-25 07:01:56'),
 Timestamp('2019-09-25 12:45:39'),
 Timestamp('2019-09-25 18:08:51'),
 Timestamp('2019-09-23 19:16:00'),
 Timestamp('2019-09-25 19:37:00'),
 Timestamp('2019-09-26 10:26:00'),
 Timestamp('2019-09-27 01:26:00'),
 Timestamp('2019-09-19 07:08:00'),
 Timestamp('2019-09-23 02:32:00'),
 Timestamp('2019-09-23 20:35:00'),
 Timestamp('2019-09-24 13:19:00'),
 Timestamp('2019-09-25 10:23:00'),
 Timestamp('2019-09-26 03:08:00'),
 Timestamp('2019-09-26 20:03:00'),
 Timestamp('2019-09-27 14:17:00'),
 Timestamp('2019-09-30 08:07:00'),
 Timestamp('2019-01-10 00:36:00'),
 Timestamp('2019-10-02 03:31:24'),
 Timestamp('2019-10-03 17:19:39'),
 Timestamp('2019-10-07 06:04:28'),
 Timestamp('2019-10-21 16:48:59'),
 Timestamp('2019-10-22 00:59:44'),
 Timestamp('2019-10-18 03:44:20'),
 Timestamp('2019-10-18 07:03:49'),
 Timestamp('2019-10-18 10:15:52'),
 Timestamp('2019-10-18 13:35:16'),
 Timestamp('2019-10-18 16:32:10'),
 Timestamp('2019-10-20 22:15:04'),
 Timestamp('2019-10-21 01:22:52'),
 Timestamp('2019-10-21 04:45:13'),
 Timestamp('2019-10-21 08:16:49'),
 Timestamp('2019-10-21 11:33:01'),
 Timestamp('2019-10-24 01:22:37'),
 Timestamp('2019-10-24 05:04:38'),
 Timestamp('2019-10-24 08:16:20'),
 Timestamp('2019-10-24 11:20:19'),
 Timestamp('2019-10-24 14:54:54'),
 Timestamp('2019-10-24 17:56:48'),
 Timestamp('2019-10-24 20:52:46'),
 Timestamp('2019-10-24 23:50:02'),
 Timestamp('2019-10-25 03:47:52'),
 Timestamp('2019-10-25 07:16:25'),
 Timestamp('2019-10-25 10:39:52'),
 Timestamp('2019-10-24 08:32:56'),
 Timestamp('2019-11-04 11:44:45'),
 Timestamp('2019-10-28 14:35:38'),
 Timestamp('2019-10-29 03:41:50'),
 Timestamp('2019-10-29 22:18:15'),
 Timestamp('2019-11-03 22:29:56'),
 Timestamp('2019-11-04 17:59:12'),
 Timestamp('2019-11-05 11:15:50'),
 Timestamp('2019-10-28 11:25:00'),
 Timestamp('2019-10-28 21:13:00'),
 Timestamp('2019-10-29 06:17:00'),
 Timestamp('2019-10-29 15:28:00'),
 Timestamp('2019-10-30 00:36:00'),
 Timestamp('2019-10-30 09:43:00'),
 Timestamp('2019-11-03 22:25:00'),
 Timestamp('2019-10-29 22:22:51'),
 Timestamp('2019-10-30 07:36:12'),
 Timestamp('2019-11-03 22:24:50'),
 Timestamp('2019-04-11 08:36:08'),
 Timestamp('2019-11-11 18:17:00'),
 Timestamp('2019-12-11 03:19:00'),
 Timestamp('2019-12-11 13:01:00'),
 Timestamp('2019-11-12 21:51:00'),
 Timestamp('2019-11-13 07:28:00'),
 Timestamp('2019-11-13 16:21:00'),
 Timestamp('2019-11-14 01:11:00'),
 Timestamp('2019-11-14 10:04:00'),
 Timestamp('2019-11-14 21:00:00'),
 Timestamp('2019-11-15 06:29:00'),
 Timestamp('2019-11-15 15:19:00'),
 Timestamp('2019-11-15 23:57:00'),
 Timestamp('2019-11-18 03:38:00'),
 Timestamp('2019-11-18 13:09:00'),
 Timestamp('2019-11-19 14:52:00'),
 Timestamp('2019-11-20 00:07:00'),
 Timestamp('2019-11-20 09:15:00'),
 Timestamp('2019-11-20 17:55:00'),
 Timestamp('2019-11-21 02:36:00'),
 Timestamp('2019-11-21 11:38:00'),
 Timestamp('2019-11-21 20:17:00'),
 Timestamp('2019-11-15 19:12:54'),
 Timestamp('2019-11-18 11:23:00'),
 Timestamp('2019-11-19 02:11:00'),
 Timestamp('2019-11-27 14:30:00'),
 Timestamp('2019-11-28 00:25:00'),
 Timestamp('2019-11-28 09:40:00'),
 Timestamp('2019-11-28 19:09:00'),
 Timestamp('2019-11-29 04:13:00'),
 Timestamp('2019-09-12 11:12:48'),
 Timestamp('2019-12-11 22:44:00'),
 Timestamp('2019-12-12 14:06:00'),
 Timestamp('2019-12-13 04:54:00'),
 Timestamp('2019-10-12 01:47:00'),
 Timestamp('2019-12-10 20:07:00'),
 Timestamp('2019-12-11 13:08:00'),
 Timestamp('2019-12-12 12:58:00'),
 Timestamp('2019-12-13 06:33:00'),
 Timestamp('2019-12-16 01:54:00'),
 Timestamp('2019-12-16 19:33:00'),
 Timestamp('2019-12-17 12:45:00'),
 Timestamp('2019-12-18 05:25:00'),
 Timestamp('2019-12-18 22:30:00'),
 Timestamp('2019-11-12 04:59:45'),
 Timestamp('2019-12-12 15:32:05'),
 Timestamp('2019-12-13 11:22:02'),
 Timestamp('2019-12-16 08:10:26'),
 Timestamp('2019-12-17 00:53:46'),
 Timestamp('2019-12-17 17:08:52'),
 Timestamp('2019-12-18 11:19:32'),
 Timestamp('2019-12-18 12:39:13'),
 Timestamp('2019-12-18 15:57:20'),
 Timestamp('2019-12-18 19:24:27'),
 Timestamp('2019-12-18 22:50:07'),
 Timestamp('2019-12-19 02:08:21'),
 Timestamp('2019-12-19 05:19:13'),
 Timestamp('2019-12-19 08:44:32'),
 Timestamp('2019-12-19 11:51:27'),
 Timestamp('2019-12-19 15:19:37'),
 Timestamp('2019-12-19 18:46:17'),
 Timestamp('2019-12-19 22:09:02'),
 Timestamp('2019-12-20 01:13:42'),
 Timestamp('2019-12-20 04:22:28'),
 Timestamp('2019-12-20 07:42:36'),
 Timestamp('2020-01-09 12:16:00'),
 Timestamp('2020-01-10 05:56:00'),
 Timestamp('2020-01-13 01:24:00'),
 Timestamp('2020-01-13 19:12:00'),
 Timestamp('2020-01-14 12:39:00'),
 Timestamp('2020-01-15 05:33:00'),
 Timestamp('2020-01-15 22:59:00'),
 Timestamp('2020-01-16 15:47:00'),
 Timestamp('2020-01-13 19:15:00'),
 Timestamp('2020-01-14 04:25:00'),
 Timestamp('2020-01-14 22:14:00'),
 Timestamp('2020-01-15 07:57:00'),
 Timestamp('2020-01-15 16:35:00'),
 Timestamp('2020-01-16 02:00:00'),
 Timestamp('2020-01-16 11:04:00'),
 Timestamp('2020-01-16 19:52:00'),
 Timestamp('2020-01-17 04:54:00'),
 Timestamp('2020-01-17 14:09:00'),
 Timestamp('2020-01-19 22:41:00'),
 Timestamp('2020-01-20 08:29:00'),
 Timestamp('2020-01-30 06:55:54'),
 Timestamp('2020-01-30 10:58:13'),
 Timestamp('2020-01-30 14:29:36'),
 Timestamp('2020-02-12 23:59:00'),
 Timestamp('2020-02-13 10:55:00'),
 Timestamp('2020-02-13 19:29:00'),
 Timestamp('2020-02-14 04:16:00'),
 Timestamp('2020-02-14 13:27:00'),
 Timestamp('2020-02-17 02:27:00'),
 Timestamp('2020-02-17 11:13:00'),
 Timestamp('2020-02-17 19:58:00'),
 Timestamp('2020-02-11 22:22:00'),
 Timestamp('2020-02-12 15:32:00'),
 Timestamp('2020-02-13 21:04:00'),
 Timestamp('2020-02-18 04:50:00'),

In [272]:
# I join the two lists into a dictionary and then create a dataframe

dict1 = {'batch':batcheslist, 'start_time':timeslist}
df_start = pd.DataFrame.from_dict(dict1)
df_start

      batch          start_time
0         1 2018-11-13 06:16:33
1         2 2018-11-13 09:43:07
2         3 2018-11-13 13:05:30
3         4 2018-11-13 16:06:07
4         5 2018-11-13 19:02:59
...     ...                 ...
1000   1001 2021-06-05 00:20:00
1001   1002 2021-06-05 09:22:00
1002   1003 2021-05-06 18:36:00
1003   1004 2021-07-05 03:45:00
1004   1005 2021-07-05 12:44:00

[1005 rows x 2 columns]

In [273]:
# I am doing a test to get the time since start time

df[df['batch']==1004]['timestamp'].min() - df_start[df_start['batch']==1]['start_time']

0   964 days 21:28:27
Name: start_time, dtype: timedelta64[ns]

In [274]:
# I merge tthe start time to the dataframe

df = pd.merge(df, df_start, on="batch")

In [275]:
df

,timestamp,campaign,batch,code,tbl_speed,fom,main_comp,tbl_fill,SREL,pre_comp,produced,waste,cyl_main,cyl_pre,stiffness,ejection,impurities_total,start_time
0,2019-09-06 04:08:23,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0.11,2019-09-06 04:08:23
1,2019-09-06 04:08:33,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0.11,2019-09-06 04:08:23
2,2019-09-06 04:08:43,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0.11,2019-09-06 04:08:23
3,2019-09-06 04:08:53,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0.11,2019-09-06 04:08:23
4,2019-09-06 04:09:03,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0.11,2019-09-06 04:08:23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4702576,2019-09-03 15:13:29,81,367,8,0.0,0.0,11.7,6.80,6.3,0.0,1078.0,19982.0,1.44,5.0,233.0,236.0,0.08,2019-09-02 19:26:09
4702577,2019-09-03 15:13:39,81,367,8,0.0,0.0,11.7,6.80,6.3,0.0,1078.0,19982.0,1.44,5.0,233.0,236.0,0.08,2019-09-02 19:26:09
4702578,2019-09-03 15:13:49,81,367,8,0.0,0.0,11.7,6.80,6.3,0.0,1078.0,19982.0,1.44,5.0,233.0,236.0,0.08,2019-09-02 19:26:09
4702579,2019-09-03 15:13:59,81,367,8,0.0,0.0,11.7,6.80,6.3,0.0,1078.0,19982.0,1.44,5.0,233.0,236.0,0.08,2019-09-02 19:26:09
4702580,2019-09-03 15:14:09,81,367,8,0.0,0.0,11.7,6.80,0.0,0.0,0.0,0.0,1.44,5.0,233.0,236.0,0.08,2019-09-02 19:26:09

In [276]:
#I calculate the timeSince column, for each row, the result is in days, hours, minutes and seconds

df['timeSince'] = df['timestamp']-df['start_time']

In [277]:
df

,timestamp,campaign,batch,code,tbl_speed,fom,main_comp,tbl_fill,SREL,pre_comp,produced,waste,cyl_main,cyl_pre,stiffness,ejection,impurities_total,start_time,timeSince
0,2019-09-06 04:08:23,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0.11,2019-09-06 04:08:23,0 days 00:00:00
1,2019-09-06 04:08:33,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0.11,2019-09-06 04:08:23,0 days 00:00:10
2,2019-09-06 04:08:43,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0.11,2019-09-06 04:08:23,0 days 00:00:20
3,2019-09-06 04:08:53,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0.11,2019-09-06 04:08:23,0 days 00:00:30
4,2019-09-06 04:09:03,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0.11,2019-09-06 04:08:23,0 days 00:00:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4702576,2019-09-03 15:13:29,81,367,8,0.0,0.0,11.7,6.80,6.3,0.0,1078.0,19982.0,1.44,5.0,233.0,236.0,0.08,2019-09-02 19:26:09,0 days 19:47:20
4702577,2019-09-03 15:13:39,81,367,8,0.0,0.0,11.7,6.80,6.3,0.0,1078.0,19982.0,1.44,5.0,233.0,236.0,0.08,2019-09-02 19:26:09,0 days 19:47:30
4702578,2019-09-03 15:13:49,81,367,8,0.0,0.0,11.7,6.80,6.3,0.0,1078.0,19982.0,1.44,5.0,233.0,236.0,0.08,2019-09-02 19:26:09,0 days 19:47:40
4702579,2019-09-03 15:13:59,81,367,8,0.0,0.0,11.7,6.80,6.3,0.0,1078.0,19982.0,1.44,5.0,233.0,236.0,0.08,2019-09-02 19:26:09,0 days 19:47:50
4702580,2019-09-03 15:14:09,81,367,8,0.0,0.0,11.7,6.80,0.0,0.0,0.0,0.0,1.44,5.0,233.0,236.0,0.08,2019-09-02 19:26:09,0 days 19:48:00

In [278]:
#I convert timeSince to timeSinceSec, the result is in seconds

df['timeSinceSec'] = df['timeSince'].dt.days * 24 * 3600 + df['timeSince'].dt.seconds

In [279]:
# if there are two consecutive 0 it means it is not measuring the seconds, only the minutes

In [280]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4702581 entries, 0 to 4702580
Data columns (total 20 columns):
 #   Column            Dtype
---  ------            -----
 0   timestamp         datetime64[ns]
 1   campaign          int64
 2   batch             int64
 3   code              int64
 4   tbl_speed         float64
 5   fom               float64
 6   main_comp         float64
 7   tbl_fill          float64
 8   SREL              float64
 9   pre_comp          float64
 10  produced          float64
 11  waste             float64
 12  cyl_main          float64
 13  cyl_pre           float64
 14  stiffness         float64
 15  ejection          float64
 16  impurities_total  float64
 17  start_time        datetime64[ns]
 18  timeSince         timedelta64[ns]
 19  timeSinceSec      int64
dtypes: datetime64[ns](2), float64(13), int64(4), timedelta64[ns](1)
memory usage: 753.4 MB

In [281]:
#Once again I check for missing values (not sure why, just for my peace of mind)

colsMissingVal = df.columns[df.isna().any()].tolist()
df[colsMissingVal].isna().sum()

Series([], dtype: float64)

In [284]:
df

,timestamp,campaign,batch,code,tbl_speed,fom,main_comp,tbl_fill,SREL,pre_comp,produced,waste,cyl_main,cyl_pre,stiffness,ejection,impurities_total,start_time,timeSince,timeSinceSec
0,2019-09-06 04:08:23,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0.11,2019-09-06 04:08:23,0 days 00:00:00,0
1,2019-09-06 04:08:33,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0.11,2019-09-06 04:08:23,0 days 00:00:10,10
2,2019-09-06 04:08:43,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0.11,2019-09-06 04:08:23,0 days 00:00:20,20
3,2019-09-06 04:08:53,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0.11,2019-09-06 04:08:23,0 days 00:00:30,30
4,2019-09-06 04:09:03,80,368,6,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0.11,2019-09-06 04:08:23,0 days 00:00:40,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4702576,2019-09-03 15:13:29,81,367,8,0.0,0.0,11.7,6.80,6.3,0.0,1078.0,19982.0,1.44,5.0,233.0,236.0,0.08,2019-09-02 19:26:09,0 days 19:47:20,71240
4702577,2019-09-03 15:13:39,81,367,8,0.0,0.0,11.7,6.80,6.3,0.0,1078.0,19982.0,1.44,5.0,233.0,236.0,0.08,2019-09-02 19:26:09,0 days 19:47:30,71250
4702578,2019-09-03 15:13:49,81,367,8,0.0,0.0,11.7,6.80,6.3,0.0,1078.0,19982.0,1.44,5.0,233.0,236.0,0.08,2019-09-02 19:26:09,0 days 19:47:40,71260
4702579,2019-09-03 15:13:59,81,367,8,0.0,0.0,11.7,6.80,6.3,0.0,1078.0,19982.0,1.44,5.0,233.0,236.0,0.08,2019-09-02 19:26:09,0 days 19:47:50,71270
4702580,2019-09-03 15:14:09,81,367,8,0.0,0.0,11.7,6.80,0.0,0.0,0.0,0.0,1.44,5.0,233.0,236.0,0.08,2019-09-02 19:26:09,0 days 19:48:00,71280

In [291]:
#Remove categorical data and results from the dataframe

df2 = df.drop(['timestamp', 'campaign', 'batch', 'code', 'start_time', 'timeSince', 'impurities_total'], axis = 1)

In [292]:
df2

,tbl_speed,fom,main_comp,tbl_fill,SREL,pre_comp,produced,waste,cyl_main,cyl_pre,stiffness,ejection,timeSinceSec
0,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,0
1,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,10
2,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,20
3,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,30
4,0.0,0.0,0.0,4.22,0.0,0.0,0.0,0.0,1.37,5.0,2.0,473.0,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4702576,0.0,0.0,11.7,6.80,6.3,0.0,1078.0,19982.0,1.44,5.0,233.0,236.0,71240
4702577,0.0,0.0,11.7,6.80,6.3,0.0,1078.0,19982.0,1.44,5.0,233.0,236.0,71250
4702578,0.0,0.0,11.7,6.80,6.3,0.0,1078.0,19982.0,1.44,5.0,233.0,236.0,71260
4702579,0.0,0.0,11.7,6.80,6.3,0.0,1078.0,19982.0,1.44,5.0,233.0,236.0,71270
4702580,0.0,0.0,11.7,6.80,0.0,0.0,0.0,0.0,1.44,5.0,233.0,236.0,71280

In [283]:
#----------------MODEL-----------------------

In [293]:
# Split the data

from sklearn.model_selection import train_test_split


y = df['impurities_total']

X = df2

X.shape, y.shape

((4702581, 13), (4702581,))

In [294]:
#Split the data

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                      random_state=0)

In [295]:
# This one took like 40 minutes

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest = RandomForestRegressor(n_estimators=100, random_state=0)

forest.fit(X_train, y_train)

y_pred=forest.predict(X_test)

mean_absolute_error(y_test, y_pred)

0.00024974968876448426

In [296]:
# I reduced the n_estimators and it took a couple of seconds

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest = RandomForestRegressor(n_estimators=1, random_state=0)

forest.fit(X_train, y_train)

y_pred=forest.predict(X_test)

mean_absolute_error(y_test, y_pred)

0.0002803427388266805

In [ ]:
#This results seem too good to be true. I would like to see the results per batch or line by line